img  {
    display: block;
    width: 30%;
    height: 10em;
    margin: 1em auto;
}
/* img.sin-object {
    /*Si observamos la imagen, miramos que se deforma si no se le coloca la propiedad object-fit que precisamente es para ajustar la imagen
} 
*/

img.con-object {
    object-fit: cover; /*No se pierde calidad pero ocupa todo el espacio*/
    /* object-fit: initial; */ /* Estado inicial*/
    /* object-fit: scale-down; */ /*La imagen se hace un poco mas pequeña*/
    /* object-fit: contain; */ /*Se ajusta a su contenido*/
    /* object-fit: fill; */ /*El elemento se estira dependiendo del tamaño de su contenedor*/
}