#container .ul-container li{ /*Suma de poderes (0,1,1,1)*/
    color: red;
    font-size: 50px;
}

div ul li {          /*Especficidad (0,0,3)---suma de poderes (0,0,0,3)*/
    color: blue 
}
/*Aqui la cascada no hace efecto por la especificidad, la suma de poderes, a
menos que se utilice el abreviado "!important" dentro de los estilos*/