body {
    background-color: rgb(17, 17, 74);
    color: #fff; 
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 3em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

}

.card{
    display: flex;
    width: 40%;
    background: #2e7bb6;
    padding: 1em;
    gap: 1em;
}

.card div {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.card div h1{
    font-variant: small-caps;
}

/* MediaQueries
Lo que nos permite acomodar nuestro sitio a los diferentes
dispositivos que tenemos, desde un smartphone a un Desktop, escalando
En tablets y demas dispositivos. */

/*Max-width significa desde que llega a ese width hasta lo mas pequeño*/
/*Min-width significa desde que llega a ese width hasta lo mas grande*/


/* @media ( width >= PX; 
            width <= PX; 
            PX <= width <= PX ){}
podemos organizarlos de diferentes maneras, dependiendo de la necesidad, se le 
conocen como RANGOS*/


@media (max-width: 1587px) {
    .container {
        flex-direction: column;
    }
    .card{
        flex-direction: column;
        width: 30em;
    }

    .card div p {
        width: 80%;
    }
}
